/* style.css*/
@keyframes zoomIner {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  50% {
    opacity: 1;
  }
}

.zoomIner {
  animation-name: zoomIner;
}

@keyframes zoomOuter {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 0;
    transform: translateY(0px);
  }
}
